@import "tailwindcss";
@source "../**/*.{astro,html,js,ts,md,mdx}";

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-black: #0a0e15;
  --color-white: #ffffff;

  --color-gray-900: #212631;
  --color-gray-800: #373f4e;
  --color-gray-700: #4e576a;
  --color-gray-600: #667075;
  --color-gray-500: #bfc6d4;
  --color-gray-400: #d1d6e0;
  --color-gray-300: #e0e4eb;
  --color-gray-200: #f0f1f5;

  --color-heading: #ffffff;
  --color-description: #e0e4eb;
}

:root {
  --background-color: #1c1c1c;
}

html,
body {
  background-color: var(--color-black);
  font-family: "Atkinson", sans-serif;
  color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

p,
a {
  color: var(--color-description);
}
