---

---

<footer class="w-full border-t border-gray-800">
  <div class="w-full px-4 md:max-w-6xl md:mx-auto flex py-12">
    <div class="w-3/4 flex flex-col gap-6">
      <h1 class="text-2xl font-medium">I do stuff</h1>
      <p class="text-gray-500">You can find my thoughts and projects here.</p>
      <p class="text-sm">
        Copyright © {new Date().getFullYear()} Khosbilegt Bilegsaikhan
      </p>
    </div>
    <div class="w-1/4">
      <p>CONNECT</p>
      <ul class="flex flex-col gap-4 mt-4">
        <a
          class="hover:underline"
          href="https://github.com/khosbilegt"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
        <a
          class="hover:underline"
          href="https://linkedin.com/in/koso-bilegsaikhan"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
        <a class="hover:underline" href="mailto:khosbilegt.b@gmail.com">
          Email
        </a>
      </ul>
    </div>
    <div class="mt-12"></div>
  </div>
</footer>
