---

---

<header class="w-full py-6">
  <nav class="w-full px-4 md:max-w-6xl md:mx-auto flex justify-between">
    <div class="flex gap-6">
      <a class="hover:underline" href="/">About</a>
      <a class="hover:underline" href="/projects">Projects</a>
      <a class="hover:underline" href="/writing">Writing</a>
      <a class="hover:underline" href="/reading">Reading</a>
      <a class="hover:underline" href="/contact">Contact</a>
    </div>
    <div>
      <a
        href="/cv.pdf"
        class="hover:underline"
        target="_blank"
        rel="noopener noreferrer">Open CV (PDF)</a
      >
    </div>
  </nav>
</header>
