---

---

<header class="w-full flex justify-center">
  <nav
    class="flex gap-6 mt-4 px-6 py-3 rounded-xl
           border border-white/40
           bg-white/30 backdrop-blur-md
           shadow-sm
           text-md fixed"
  >
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/writing">Writing</a>
    <a href="/reading">Reading</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
